mixin goods()
  -
    const products = [
      {
        textLabel: "",
        styleLabel: "",
        desktopWebpImg: "img/content/photo-hare-desktop@1x.webp 1x, img/content/photo-hare-desktop@2x.webp 2x",
        tabletWebpImg: "img/content/photo-hare-tablet@1x.webp 1x, img/content/photo-hare-tablet@2x.webp 2x",
        mobileWebpImg: "img/content/photo-hare-mobile@1x.webp 1x, img/content/photo-hare-mobile@2x.webp 2x",
        desktopImg: "img/content/photo-hare-desktop@1x.jpg 1x, img/content/photo-hare-desktop@2x.jpg 2x",
        tabletImg: "img/content/photo-hare-tablet@1x.jpg 1x, img/content/photo-hare-tablet@2x.jpg 2x",
        mobileImg: "img/content/photo-hare-mobile@1x.jpg",
        mobileRetinaImg: "img/content/photo-hare-mobile@2x.jpg 2x",
        widthImg: 260,
        heightImg: 195,
        altText: "Зайчик-попрыгайчик",
        productTitle: "Зайчик-попрыгайчик",
        productCharacteristics: "Рост 30 см, вес 200 г",
        productPrice: "1 200 ₽",
      },
      {
        textLabel: "",
        styleLabel: "",
        desktopWebpImg: "img/content/photo-bowl-desktop@1x.webp 1x, img/content/photo-bowl-desktop@2x.webp 2x",
        tabletWebpImg: "img/content/photo-bowl-tablet@1x.webp 1x, img/content/photo-bowl-tablet@2x.webp 2x",
        mobileWebpImg: "img/content/photo-bowl-mobile@1x.webp 1x, img/content/photo-bowl-mobile@2x.webp 2x",
        desktopImg: "img/content/photo-bowl-desktop@1x.jpg 1x, img/content/photo-bowl-desktop@2x.jpg 2x",
        tabletImg: "img/content/photo-bowl-tablet@1x.jpg 1x, img/content/photo-bowl-tablet@2x.jpg 2x",
        mobileImg: "img/content/photo-bowl-mobile@1x.jpg",
        mobileRetinaImg: "img/content/photo-bowl-mobile@2x.jpg 2x",
        widthImg: 260,
        heightImg: 195,
        altText: "Корзинка для белья",
        productTitle: "Корзинка для белья",
        productCharacteristics: "Диаметр 15 см, высота 10 см",
        productPrice: "690 ₽",
      },
      {
        textLabel: "",
        styleLabel: "",
        desktopWebpImg: "img/content/photo-toys-desktop@1x.webp 1x, img/content/photo-toys-desktop@2x.webp 2x",
        tabletWebpImg: "img/content/photo-toys-tablet@1x.webp 1x, img/content/photo-toys-tablet@2x.webp 2x",
        mobileWebpImg: "img/content/photo-toys-mobile@1x.webp 1x, img/content/photo-toys-mobile@2x.webp 2x",
        desktopImg: "img/content/photo-toys-desktop@1x.jpg 1x, img/content/photo-toys-desktop@2x.jpg 2x",
        tabletImg: "img/content/photo-toys-tablet@1x.jpg 1x, img/content/photo-toys-tablet@2x.jpg 2x",
        mobileImg: "img/content/photo-toys-mobile@1x.jpg",
        mobileRetinaImg: "img/content/photo-toys-mobile@2x.jpg 2x",
        widthImg: 260,
        heightImg: 195,
        altText: "Большая корзинка для игрушек",
        productTitle: "Большая корзинка для&nbsp;игрушек",
        productCharacteristics: "Диаметр 30 см, высота 30 см",
        productPrice: "500 ₽",
      },
    ]

  section.goods
    .container
      .goods__wrapper
        h2.visually-hidden Список товаров
        ul.goods__list
          each oneProduct in products
            +product-card({
              oneProduct: oneProduct
            }).goods__item
