- const vp320 = "320px";
- const vp375 = "375px";
- const vp768 = "768px";
- const vp1024 = "1024px";
- const vp1150 = "1150px";
- const vp1280 = "1280px";
- const vp1440 = "1440px";
- const vp1920 = "1920px";
