.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  // margin-bottom: 20px;

  @include vp-768 {
    font-size: 19px;
    line-height: 18px;
  }

  svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    fill: $color-very-light-grey;
    width: 25px;
    height: 24px;

    @include vp-768 {
      right: 24px;
    }

    @include vp-1150 {
      right: 0;
    }
  }

  label {
    display: block;
    width: 100%;

    input {
      width: 100%;
      font-size: 17px;
      line-height: 18px;
      color: $color-charcoal;
      padding-top: 15px;
      padding-bottom: 16px;
      padding-left: 0;
      padding-right: 50px;
      border: 2px solid transparent;
      border-bottom-color: $color-default-black;
      transition: border-bottom-color $trans-default;
      outline: none;

      @include vp-768 {
        font-size: 19px;
        line-height: 18px;
        padding-top: 9px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 50px;
      }

      & + svg {
        transition: fill $trans-default;
      }

      &:hover + svg,
      &:focus + svg {
        fill: $color-downy-4;
      }

      &:hover,
      &:focus {
        border-bottom-color: $color-downy-4;
      }

      &:active {
        border-bottom-color: rgba($color-downy-4, 0.5);
      }
    }

    textarea {
      width: 100%;
      border: 2px solid $color-charcoal;
      padding: 13px 15px;
      transition: border-color $trans-default;

      &:hover,
      &:focus {
        outline: none;
        border-color: $color-downy-4;
      }

      &:active {
        border-color: rgba($color-downy-4, 0.5);
      }
    }

    input,
    textarea {
      &::placeholder {
        color: rgba($color-charcoal, 0.3);
      }
    }

    @include vp-768 {
      display: flex;
      align-items: center;
    }
  }

  &__label {
    margin-right: 26px;
  }

  &--phone {
    margin-bottom: 1px;

    & label {
      position: relative;
    }

    svg {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      fill: $color-very-light-grey;
      width: 25px;
      height: 24px;

      @include vp-768 {
        right: 24px;
      }

      @include vp-1150 {
        right: 0;
      }
    }
  }

  &--email {
    & label {
      position: relative;
    }

    svg {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      fill: $color-very-light-grey;
      width: 31px;
      height: 21px;

      @include vp-768 {
        right: 24px;
      }

      @include vp-1150 {
        right: 0;
      }
    }
  }

  &--description {
    & textarea {
      min-height: 142px;
    }
  }

  &--feedback {
    label {
      display: block;

      input {
        padding-left: 0;
      }
    }

    .custom-input__label {
      margin-right: 0;
    }
  }

  &--search {
    margin-bottom: 0;

    label {
      input {
        padding-left: 0;

        @include vp-768 {
          padding-right: 110px;
        }
      }
    }
  }

  &--quantity {
    margin: 0;

    label {
      input {
        border: 1px solid $color-silver;
        padding: 8px 0;
        width: 36px;
        text-align: center;
        transition: border-color $trans-default;

        &:hover,
        &:focus {
          border-color: $color-downy-4;
        }

        &:active {
          border-color: rgba($color-downy-4, 0.5);
        }

        @include vp-768 {
          width: 48px;
          padding: 10px 0;
        }
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;
    color: $color-torch-red;
    opacity: 0;
    transition: opacity $trans-default;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border-bottom-color: $color-torch-red;
      transition: border-bottom-color $trans-default;

      &:focus,
      &:hover {
        border-bottom-color: rgba($color-torch-red, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border-bottom-color: $color-downy-4;
      transition: border-bottom-color $trans-default;

      &:focus,
      &:hover {
        border-bottom-color: rgba($color-downy-4, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: $color-default-red;
    }

    &.is-valid {
      color: $color-islamic-green;
    }
  }
}
