.search-results {
  &__wrapper {
    margin-top: 30px;
    margin-bottom: 30px;

    @include vp-768 {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @include vp-1150 {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }

  &__text {
    p {
      font-size: 17px;
      line-height: 24px;

      @include vp-768 {
        font-size: 20px;
        line-height: 27px;
      }
    }

    a {
      font-weight: 700;
      color: $color-charcoal;
      border-bottom: 1px solid transparent;
      transition: color $trans-default, order-bottom-color $trans-default;

      &:hover,
      &:focus {
        color: rgba($color-charcoal, 0.7);
        border-bottom-color: rgba($color-charcoal, 0.7);
      }

      &:active {
        color: rgba($color-charcoal, 0.3);
        border-bottom-color: rgba($color-charcoal, 0.3);
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 20px;
    border: 1px solid $color-gainsboro;
    border-radius: 0.7rem;
    padding: 5px;

    @include vp-768 {
      margin-bottom: 30px;
    }
  }

  &__link {
    display: block;
  }
}
