
.week-product {
  &--decor {
    position: relative;
    margin-bottom: 27px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 6px;
      background-image: url("../img/svg/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-position: 7px bottom;
      background-size: contain;

      @include vp-768 {
        width: 100%;
        height: 17px;
        background-position: left bottom;
        background-size: 730px 17px;
      }

      @include vp-1150 {
        height: 23px;
        width: 1050px;
        background-position: center bottom;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
      }
    }

    @include vp-768 {
      margin-bottom: 50px;
    }

    @include vp-1150 {
      margin-bottom: 62px;
    }
  }

  &__wrapper {
    display: block;
    padding-bottom: 36px;

    @include vp-768 {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(auto-fit, minmax(50px, auto));
      row-gap: 22px;
      column-gap: 0;
      margin-bottom: 10px;
      padding-top: 6px;
      padding-bottom: 20px;
    }

    @include vp-1150 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin-bottom: 42px;
      padding-bottom: 8px;
    }
  }

  &__title {
    margin-bottom: 5px;

    @include vp-768 {
      grid-row: 1 / 2;
      grid-column: 1 / 5;
      margin-bottom: 11px;
    }

    @include vp-1150 {
      grid-row: 2 / 3;
      grid-column: 3 / 10;
      z-index: 1;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    display: block;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: $color-downy;
    text-transform: uppercase;
    margin-bottom: 23px;

    @include vp-768 {
      font-size: 17px;
      line-height: 17px;
      grid-row: 1 / 2;
      grid-column: 6 / 7;
      margin-top: 12px;
      margin-bottom: 15px;
      text-align: center;
      align-self: center;
    }

    @include vp-1150 {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 18px;

    p {
      font-size: 15px;
      line-height: 24px;
      color: $color-charcoal;

      @include vp-768 {
        font-size: 17px;
        line-height: 30px;
      }
    }

    @include vp-768 {
      grid-row: 2 / 3;
      grid-column: 1 / 4;
      margin-bottom: -5px;
      width: 85%;
    }

    @include vp-1150 {
      grid-row: 3 / 4;
      grid-column: 3 / span 4;
      margin-top: 9px;
      margin-right: 55px;
    }
  }

  &__characteristics {
    margin-bottom: 28px;

    table {
      width: 100%;
      font-size: 15px;
      line-height: 20px;
      color: $color-charcoal;
      border-collapse: collapse;
      border-spacing: 0;
    }

    tr {
      border-bottom: 1px solid $color-tory-blue;
      display: flex;
    }

    td {
      border: none;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 9px;
      padding-left: 7px;
    }

    .week-product__left-cell {
      flex-basis: 35%;
      padding-left: 0;
      padding-right: 7px;

      @include vp-768 {
        flex-basis: 27%;
      }

      @include vp-1150 {
        flex-basis: 31%;
      }
    }

    @include vp-768 {
      grid-row: 3 / 4;
      grid-column: 1 / 4;
      margin-bottom: 36px;
    }

    @include vp-1150 {
      grid-row: 4 / 5;
      grid-column: 3/span 4;
      margin-top: 15px;
      margin-right: 55px;
    }
  }

  &__picture {
    background-color: $color-white-smoke;
    margin-bottom: 26px;

    @include vp-768 {
      grid-row: 2 / 7;
      grid-column: 4 / 7;
      margin-bottom: 0;
      margin-top: 24px;
    }

    @include vp-1150 {
      grid-row: 1 / 8;
      grid-column: 7 / 13;
      margin-top: 20px;
      margin-bottom: 0;
    }

    @include padding-hack-img(315, 260);

    &::before {
      @include vp-768 {
        padding-bottom: calc(333 / 404 * 100%);
      }

      @include vp-1150 {
        padding-bottom: calc(525 / 636 * 100%);
      }
    }
  }

  &__price {
    margin-bottom: 24px;

    @include vp-768 {
      grid-row: 4 / 5;
      grid-column: 1 / 4;
      margin-bottom: 11px;
    }

    @include vp-1150 {
      grid-row: 5 / 6;
      grid-column: 3 / span 3;
      margin-top: 52px;
    }

    span {
      display: block;
      font-size: 17px;
      line-height: 24px;
      font-weight: 700;
      color: $color-charcoal;
      text-align: center;

      @include vp-768 {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &__order {
    max-width: 300px;
    margin: 0 auto;

    @include vp-768 {
      grid-row: 5 / 6;
      grid-column: 1 / 4;
      max-width: 290px;
      margin: 0;
    }

    @include vp-1150 {
      grid-row: 6/7;
      grid-column: 3/span 3;
    }
  }
}
