//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-make-order
include ./modals/modal-make-order-success
include ./modals/modal-send-order

//- Blocks

include ./blocks/intro
include ./blocks/logo
include ./blocks/logo-footer
include ./blocks/week-product
include ./blocks/advantages
include ./blocks/reviews
include ./blocks/contacts
include ./blocks/page-title
include ./blocks/goods
include ./blocks/production
include ./blocks/order-form
include ./blocks/search
include ./blocks/cart
include ./blocks/new-goods
//- include ./blocks/one-product
include ./blocks/product-details
include ./blocks/search-results
include ./blocks/sale
include ./blocks/questions
include ./blocks/pay
include ./blocks/not-found
include ./blocks/server-error


//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/product-card
include ./mixins/product-preview


//- пагинация
